<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Admin Panel</h1>
    <p>Welcome to the admin panel.</p>
</body>
</html>
