<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CUTM Result Portal</title>
  <link rel="icon" type="image/x-icon" href="/images/favhome.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/cutm.png" alt="Logo" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/login"><i class="fas fa-user"></i> Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer"><i class="fas fa-envelope"></i> Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center mb-4">Result Portal</h1>
            <form action="/" method="post" id="searchForm">
              <div class="form-group">
                <label for="registration">Registration Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input type="number" class="form-control" id="registration" name="registration" placeholder="Enter registration number" required>
                </div>
              </div>
              <div class="form-group">
                <label for="semester">Semester</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                  </div>
                  <select class="form-control" id="semester" name="semester">
                    <% semesters.forEach(function(semester) { %>
                      <option value="<%= semester %>"><%= semester %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contact</h5>
          <p>
            Email: 220101120151@cutm.ac.in
          </p>
        </div>
        <div class="col-md-6">
          <h5>Connect with Us</h5>
          <div class="social-links">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; CUTM Result Portal (version 2.0)</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
</body>
</html>