body {
    background-color: #f8f9fa;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #d6d2c9;
  }
  ::-webkit-scrollbar-thumb {
    background: #003d82;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00254e;
  }

.card {
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.51);
}

.card-header {
    border-radius: 10px 10px 0 0;
}

.btn-primary {
    background-color: #00346b;
    border: none;
}

.btn-primary:hover {
    background-color: #00264e;
}

.btn-primary:focus {
    box-shadow: none;
}

.alert {
    border-radius: 10px;
}
